.divGlobal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contenedor_1country {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-grid;
  flex-direction: column;
  padding: 10px;
  margin: 20px;

  margin-top: 10px;
  width: 300px;
  height: 350px;
  padding-right: 2em;
  /* justify-content: center; */
  box-shadow: rgba(223, 29, 29, 0.56) 0px 22px 100px 40px;
  transition: all 2s;
  border-radius: 20px;
  color: rgb(56, 57, 58);
  color: #fff;
}
.contenedor_1country:hover {
  box-shadow: rgba(59, 59, 59, 0.384) 3px 3px 6px 0px inset,
    rgba(117, 117, 117, 0.384) -3px -3px 6px 1px inset;
}
