.boton {
  position: relative;
  color: rgb(255, 255, 255);

  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 19px;
  padding: 3px 10px;
  background: radial-gradient(
    circle,
    rgb(190, 25, 39) 100%,
    rgb(190, 25, 25) 100%
  );
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s;
}

.boton:hover {
  transform: scale(1.1);
}
.container {
  /* background-color: transparent; */
  background-color: rgba(149, 200, 54, 0.5);
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5px;
  width: 500px;
  height: 600px;
  /* justify-content: center; */
  box-shadow: rgba(29, 158, 223, 0.56) 0px 22px 100px 40px;
  border-radius: 50px 0px 60px 0px;
  color: rgb(3, 3, 3);
}
/* //-------------------------- */
.container_actividades {
  display: flex;
  justify-content: space-evenly;
  background: rgba(8, 8, 8, 0.82);
  font-family: math;
  font-size: large;
  color: rgb(233 217 217);
}
.container_actividades div {
  background: rgb(0 0 0 / 82%);
  border: 1px solid red;
}
.container0 {
  margin-top: 0;
  width: auto;
  height: 100px;
  /* height: 100px; */
  margin-bottom: 0px;
  /* background-image: url("../images/fondo2.jpg"); */
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

.name {
  margin-top: 20px;
  font-size: 30px;
  text-shadow: 0px 10px 20px #b10707e7;
}
.img {
  /* background-color: rgba(0, 0, 0, 0.5); */
  margin-top: 10px;
  position: relative;
}
.infoContainer {
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.5);
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  /* position: absolute; */
  top: 10px;
  color: #fff;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

h3 {
  margin-top: 20px;
  font-size: 20px;
  text-shadow: 0px 10px 11px #b10707e7;
}
h5 {
  margin-top: 1px;
  font-size: 20px;
}
h2 {
  top: 1px;
  padding: 1px;
  color: black;
  margin: 1px;
  background: #769d80ab;
}
.imagen {
  width: 500px;
  height: 200px;
  /* width: 100px;

  height: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
