.title {
  position: relative;
  top: 1px;
  color: rgb(66 95 173 / 66%);
  text-shadow: -1px 1px 4px rgb(80 108 162);
  font-size: 3em;
  margin-bottom: 5px;
}
.imagen {
  width: 1100px;
  height: 50px;
  /* width: 100px;

  height: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
/* boton crea pais */
.crear_pais {
  font-family: "Fantasy", cursive;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  /* border: none; */
  cursor: pointer;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  height: 30px;
  justify-content: center;
  box-shadow: rgba(21, 251, 0, 0.56) 0px 2px 50px 5px;
  border: 5px solid rgb(0, 0, 0);
  border-width: 1px;
  border-radius: 10px 10px 10px 10px;
  color: rgb(4, 13, 20);
  transition: 0.8s;
}
.crear_pais:hover {
  transform: scale(1.1);
}
.botonsysearch {
  top: 1px;
  bottom: 1px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
}
.botonesIniciales {
  display: flex;
  align-items: left;
  justify-content: center;
}
.Contenedor_filtro {
  /* width: 900px; */
  height: 70px;
  align-items: center;
  display: flex;
  position: relative;
  top: 1px;
  /* left: 13px; */
  /* font-size: 1px; */
  /* right: 11px; */
  margin: border;
  /* margin-right: 10px; */
  /* background: red; */
  background-color: rgba(0, 0, 0, 0.5);
  background: r;
  border: 2px solid #121212;
  /* border-radius: 10px; */
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  /* margin-left: 10px; */
  /* left: 100px; */
  justify-content: center;
  /* bottom: 100px; */
}
.Contenedor_filtro h3 {
  color: rgb(127 220 158);
  font-size: smaller;
  font-family: math;
  margin-top: 1px;
  margin-bottom: 1px;
}
.Contenedor_filtro div select {
  box-shadow: rgba(29, 223, 39, 0.56) 0px 2px 30px 2px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: large;
  /* margin-top: 10px; */
  text-align-last: center;
  /* height: 70px; */
  width: 180px;
  border-radius: 12px;
}
/* JJJJJJj */
.button {
  color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 0px;
  margin-left: 10px;
  font-size: 19px;
  padding: 3px 10px;
  background: radial-gradient(
    circle,
    rgb(190, 25, 39) 100%,
    rgb(190, 25, 25) 100%
  );
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.1);
}
