.title {
  position: relative;
  top: 10px;
  color: rgb(76, 78, 192);
  text-shadow: 5px 5px 1px rgb(32, 18, 18);
  font-size: 3em;
}
/* boton crea pais */
.crear_pais {
  font-family: "Fantasy", cursive;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  /* border: none; */
  cursor: pointer;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  height: 30px;
  justify-content: center;
  box-shadow: rgba(45, 223, 29, 0.56) 0px 22px 100px 40px;
  border: 5px solid rgb(0, 0, 0);
  border-width: 1px;
  border-radius: 10px 10px 10px 10px;
  color: rgb(4, 13, 20);
  transition: 0.8s;
}
.crear_pais:hover {
  transform: scale(1.1);
}
.botonsysearch {
  top: 1px;
  bottom: 1px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.botonesIniciales {
  display: flex;
  align-items: left;
  justify-content: center;
}
.Contenedor_filtro {
  width: 500px;
  height: 40px;
  align-items: flex-end;
  display: flex;
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 10px;
  right: 0px;
  margin: border;
  margin-right: 200px;
  background: red;
  background: r;
  border: 5px solid #121212;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  margin-left: 50px;
  left: 100px;
  justify-content: space-between;
}
.Contenedor_filtro h3 {
  margin-top: 1px;
  margin-bottom: 2px;
}

/* JJJJJJj */
.button {
  color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 0px;
  margin-left: 10px;
  font-size: 19px;
  padding: 3px 10px;
  background: radial-gradient(
    circle,
    rgb(190, 25, 39) 100%,
    rgb(190, 25, 25) 100%
  );
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.1);
}
